@{
}
<div>
    <h2>Přihlášení</h2>
</div>
<form>
  <div class="mb-3 mt-3">
    <label for="text" class="form-label">Přezdívka:</label>
    <input type="text" class="form-control" id="name" placeholder="Přezdívka" name="username">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Heslo:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Heslo" name="password">
  </div>
  <button onclick="send()" type="button" class="btn btn-primary">Přihlásit</button>
</form>
@section Scripts{
    <script>
        async function send(){
            var name = $('#name').val();
            var pass = $('#pwd').val();
             try {
                const response = await axios.post("https://localhost:7207/api/Account/login", {
                name: name, pass: pass
                } );
                Cookies.set('token', response.data);
              } catch (error) {
                console.error(error);
              }

        }

    </script>
}