@using ListkovacDTO
@model List<AkceFullDTO>
@{
  ViewData["Title"] = "Proběhlé";
}
@foreach(AkceFullDTO akce in Model){
    if(akce.Datum < DateTime.Today)
    {
        <div style="padding-top:10px">
            <a href="../Home/Akce?Id=@akce.AkceID" style="text-decoration:none; color:black;">
            <div class="card text-center">
               
                  <div class="card-body">
                    <h5 class="card-title">@akce.Nazevakce</h5>
                    <p class="card-text" style="white-space: nowrap; height: 25px; overflow: hidden; text-overflow: ellipsis;">@akce.Popisakce</p>
                    <a href="../Home/Akce?Id=@akce.AkceID" class="btn btn-primary">Více informací</a>
                  </div>
                  <div class="card-footer text-muted">
                    @akce.Datum.Day.@akce.Datum.Month.@akce.Datum.Year @akce.Cas
                  </div>
             
            </div>
             </a>
        </div>
    }
}