@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Projekt ve fázi testování. Všechny údaje které na stránku vložíte mohou být odcizeny či zneužity. Majitelé stránky neručí za bezpečnost vašich údajů.
</p>
